{% include "librarian/base-layout-librarian.html" %}
{% block content %}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fuild">

            <div class="card">
                <div class="card-body border border-secondary mt-5 ml-3 mr-3">

                    <div class="text-center mb-2">
                        Issue Book To Student
                    </div>

                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group row">
                            <label for="newBarcode" class="col-sm-2 col-form-label">Barcode</label>
                            <div class="col-sm-10">
                                <input required name="newBarocde" type="text" class="form-control" id="newBarocde"
                                    placeholder="1111001">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="newCardNumber" class="col-sm-2 col-form-label">Cardnumber</label>
                            <div class="col-sm-10">
                                <input required name="newCardNumber" type="text" class="form-control" id="newCardNumber"
                                    placeholder="I2K16102102">
                            </div>
                        </div>                        

                        <div class="form-group row">
                            <label for="newBranchCode" class="col-sm-2 col-form-label">Branchcode</label>
                            <div class="col-sm-10">
                                <input required name="newBranchCode" type="text" class="form-control" id="newBranchCode"
                                    placeholder="PICT">
                            </div>
                        </div>                        

                        <div class="text-center">
                            <button class="btn btn-primary" value="newIssueSubmit" name="newIssueSubmit">Submit</button>
                        </div>

                    </form>
                </div>
            </div>

            {% if issueFormSubmitted and issueSuccessful %}
            <div class="alert alert-success" role="alert">
                New Book Issued Successfully
            </div>

            {% elif issueFormSubmitted and not issueSuccessful %}
            <div class="alert alert-secondary" role="alert">
                {{ErrMsg}}
            </div>

            {% endif %}            

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Group No 13</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{% endblock %}