{% include "student/base-layout-student.html" %}

{% block content %}
<!-- Page Wrapper -->
<div id="wrapper">


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Begin Page Content -->

      <div class="container-fluid">

        {% if searchBook %}
        <!-- Page Heading -->
        <div class="container">
          <h5>Enter book title to recommend to library</h5>
          <div class="row">
            <div class="col-12">
              <form id="submitTitle" method="POST">
                {% csrf_token %}

                <div class="input-group">
                  <input required name="title" id="title" class="form-control border-secondary py-2" type="search">
                  <div class="input-group-append">
                    <button name="submitTitle" class="btn btn-outline-secondary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endif %}

        {% if blankSearch == False and libraryResult|length  %}

        <!-- <h5>{{title}}</h5> -->

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Available Books in Library with similar title
              <br>
              Search using the search bar for more specific results.
            </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Barcode </th>
                    <th>Book Name</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Barcode </th>
                    <th>Book Name</th>
                    <th>Author</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for i in libraryResult %}
                  <tr>
                    <td>{{i.barcode}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.author}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="text-center">
          <form method="POST">
            {% csrf_token %}

            <h5>Did not find what you were looking for ?</h5>

            <!-- Need to be fixed this  -->
            <input hidden value="{{title}}" name="hiddenTitle" type="text">
            <!--  -->

            <button name="checkRecommendedBooks" value="notFoundInLibrary" class="btn btn-primary"> Check already
              recommended books</button>
          </form>
        </div>

        {% elif blankSearch == False and libraryResult|length == 0%}
        <br>
        <div class="text-center">
          <form method="POST">
            {% csrf_token %}

            <h5>No book of this title in library</h5>

            <!-- Need to be fixed this  -->
            <input hidden value="{{title}}" name="hiddenTitle" type="text">
            <!--  -->

            <button name="checkRecommendedBooks" value="notFoundInLibrary" class="btn btn-primary"> Check already
              recommended books</button>
          </form>
        </div>

        {% endif %}


        {% if checkRecommendedBooks and alreadyRecommendedResult|length %}
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Already recommend books to Library with similar title
              <br>
              Search using the search bar for more specific results.
            </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Request</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Request</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for i in alreadyRecommendedResult %}
                  <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.author}}</td>
                    <td>
                      <span style="float: left ;">{{i.requestCount}}</span>
                      <form method="POST">
                        {% csrf_token %}
                        <button value="{{i.srNo}}" name="increaseRequestCount" title="Request this book"
                          style="float: right; cursor: pointer; background: none; padding: 0; border: none;">
                          <i class="fas fa-plus" aria-hidden="true"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br>
        <div class="text-center">
          <form method="POST">
            {% csrf_token %}

            <h5>My Book is not yet recommended</h5>

            <!-- Need to be fixed this  -->
            <input hidden value="{{hiddenTitle}}" name="hiddenTitle1" type="text">
            <!--  -->

            <button name="newBookRecommendation" value="newBookRecommendation" class="btn btn-primary">Recommend New
              Book</button>
          </form>
        </div>

        {% elif checkRecommendedBooks and alreadyRecommendedResult|length == 0 %}

        <br>
        <div class="text-center">
          <form method="POST">
            {% csrf_token %}

            <h5>No book with similar title is recommended yet</h5>

            <!-- Need to be fixed this  -->
            <input hidden value="{{hiddenTitle}}" name="hiddenTitle1" type="text">
            <!--  -->

            <button name="newBookRecommendation" value="newBookRecommendation" class="btn btn-primary"> Recommend New
              Book</button>
          </form>
        </div>

        {% endif %}

        {% if newBookRecommendation %}

        <form method="POST">
          {% csrf_token %}

          <div class="form-group row">
            <label for="newTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input required name="newTitle" type="text" class="form-control" id="newTitle" value="{{hiddenTitle1}}"
                placeholder="Digital Fortress">
            </div>
          </div>

          <div class="form-group row">
            <label for="newAuthor" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
              <input required name="newAuthor" type="text" class="form-control" id="newAuthor" placeholder="D.Brown">
            </div>
          </div>

          <div class="form-group row">
            <label for="newCategory" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              <input required name="newCategory" type="text" class="form-control" id="newCategory"
                placeholder="Fiction">
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-primary" value="newBookSubmit" name="newBookSubmit">Submit</button>
          </div>

        </form>

        {% endif %}

        {% if successMsg %}
        <div class="alert alert-success" role="alert">
          {{successMsg}}
        </div>

        {% elif failMsg %}
        <div class="alert alert-secondary" role="alert">
          {{failMsg}}
        </div>

        {% endif %}


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Group No 13</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% endblock %}